.hero{
    padding-block-start: 16px;
}
.hero-image{
    border: 12px solid var(--pink);
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    left: 102px;
    top: 180px;
    scale: auto;
}
.hero-title{
    position: absolute;
    left: 620px;
    top: 100px;
}
.hero-subtitle{
    position: absolute;
    left: 750px;
    top: 190px;
}
.hero-cuerpo{
    position: absolute;
    background: var(--green);
    opacity: 25%;
    width: 660px;
    height: 350px;
    left: 670px;
    top: 250px;
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 25px;
}
.hero-text-cuerpo{
    position: absolute;
    width: 670px;
    height: 410px;
    left: 670px;
    top: 250px;
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 30px;
    justify-content: center;
}
.hero-cuerpo1{
    position: absolute;
    background: var(--green);
    opacity: 25%;
    width: 600px;
    height: 320px;
    left: 450px;
    top: 250px; 
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 25px;
}
.hero-text-cuerpo1{
    position: absolute;
    width: 600px;
    height: 320px;
    left: 450px;
    top: 250px;
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 30px;
    justify-content: center;
}
.hero-cuerpo2{
    position: absolute;
    background: var(--green);
    opacity: 25%;
    width: 550px;
    height: 380px;
    left: 130px;
    top: 230px; 
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 25px;
}
.hero-text-cuerpo2{
    position: absolute;
    width: 550px;
    height: 380px;
    left: 130px;
    top: 230px; 
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 30px;
    justify-content: center;
}
.hero-results{
    position: absolute;
    background: var(--pink);
    opacity: 25%;
    width: 550px;
    height: 380px;
    left: 820px;
    top: 230px; 
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 25px;
}
.hero-text-results{
    position: absolute;
    width: 550px;
    height: 320px;
    left: 820px;
    top: 230px;
    border-radius: 45px;
    font: var(--body1);
    color: var(--white);
    padding: 30px;
    justify-content: center;
}
.hero-img{
    position: absolute;
    left: 1065px;
    top: 640px;
}